@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
}

@layer base {
  :root {
    --color-theme-primary: 255 255 255;
    --color-theme-secondary: 69 104 220;
    --color-theme-text: 63 63 70;
    /* --color-theme-text: 0 0 0; */
    --color-theme-bg: 245 245 245;
  }

  html.dark {
    --color-theme-primary: 27 27 30;
    --color-theme-secondary: 27 27 30;
    --color-theme-text: 161 161 170;
    --color-theme-bg: 51 50 50;
  }
}
